<!DOCTYPE html>
<head>
<title><TMPL_VAR NAME=TITLE></title>
<style>
    * { box-sizing: border-box }
    body { background: #f1f1f1; color: #000; font-family: verdana, serif; }
    main { display: block; margin: 1.5em auto; }
</style>
</head>
<body lang="en">
    <main>
        <TMPL_VAR NAME=BODY>
    </main>
</body>
</html>